.app-header {
    background-color: #15232d;
    color: whitesmoke;
    padding: 1rem 0 1rem 0;
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.31);
    margin-bottom: 1rem;
    h1 {
        font-size: 2rem;
        letter-spacing: 5px;
    }
    .logo {
        max-height: 40px;
    }
}
